<%- include('header') -%>

<div class="d-flex flex-column mb-3 container">
    <% if (locals.posts) {%>
        <% for (i in posts) {%>
            <div class="card">
                <div class="card-body">
                    <strong class="card-title"><%= posts[i].text %></strong>
                    <% if(currentUser) {%>
                        <p class="card-text"><%= posts[i].author.username %> - <%= posts[i].timstamp_formatted %></p>
                    <%} else { %>
                        <p class="card-text">Anonymous - <%= posts[i].timstamp_formatted %></p>
                    <%}%>

                    <%# Set edit and delete buttons in a form for style purposes, and make delete able to send a POST request from the button 
                        Only displays if there is a currentUser AND that user has the same ID as the author %> 
                    <% if( currentUser && currentUser.id === posts[i].author.id) {%>
                        <form method="POST" action="/delete/<%= posts[i].id %>">
                            <a class="btn btn-info" href="/update/<%= posts[i].id %>")><i class="bi bi-pencil-fill"></i></a>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                        </form>
                    <%}%>

                </div>
            </div>
        <%}%>
    <%} else {%>
        <h5>No posts yet</h5>
    <%}%>
</div>


<%- include('footer') -%>