<%- include('header') -%>


<h1><%= title %></h1>
<% if (locals.user) {%>
    <p><%= locals.user.username %></p>
<%} else {%>
  <p>No user</p>
<%}%>
<p>Welcome to <%= title %></p>

<%- include('footer') -%>