<%# This view is used for both creating and updating posts %> 

<%- include('header') -%>

<h1><%= title %>:</h1>
<form action="" method="POST">
    <div class="mb-3">
        <label for="post_text" class="form-label"></label>
        <%# If locals.text exists, set the textarea to that value for updating purposes. %>
        <% if (locals.text) {%>
          <textarea name="post_text" class="form-control" id="post_text" rows="3"><%- locals.text %></textarea>
        <%} else {%>
          <textarea name="post_text" class="form-control" id="post_text" rows="3"></textarea>
        <%}%>
        
    </div>
    
    <button type="submit" class="btn btn-primary mb-3">POST</button>
</form>

<% if (locals.errors) {%>
  <ul>
  <% for (error in errors) {%>
    <li><%= errors[error].msg %></li>
  <%}%>
  </ul>
<%}%>  
    

<%- include('footer') -%>