<%- include('header') -%>

<div>
    <h1><%= user.username %></h1>
    <p>Member? <%= user.member %> </p>
    <p>Admin: <%= user.admin %> </p>
</div>

<h2>Posts by this user: </h2>
<% if (posts.length > 0) {%>
    <% for(i in posts) {%>
        <div class="card">
            <div class="card-body">
                <strong class="card-title"><%= posts[i].text %></strong>
            </div>
        </div>
    <%}%>
<%} else {%>
    <p>So empty....</p>
<%}%>

<%- include('footer') -%>